<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Fulfill Orders</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta ingredientName="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/app.css" />
	<style>
		.button {
			display: inline-block;
			padding: 5px 6px;
			font-size: 12px;
			font-weight: normal;
			text-align: center;
			text-decoration: none;
			background-color: #fff;
			color: #000;
			border-radius: 1px;
			box-shadow: 0 2px 5px rgba(0,0,0,.3);
			margin-right: 20px;
		}

		.center {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
		}
		
		.link{
			float: right;
		}
	</style>
	
	<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>
	<script th:inline="javascript">
		/*<![CDATA[*/

		var app = angular.module('myApp', []);
		app.controller('fullfillOrdersCtrl', function($scope, $http, $q) {
			$http.get("/api/v1/orders/status/placed").then(function(response) {
				$scope.orders = response.data;
			});
			
			
			$scope.fulfillOrder = function(orderId) {
			    $http.put("/api/v1/orders/fulfill/" + orderId)
			        .then(function(response) {
			            console.log("Order fulfilled successfully");
			            $scope.fulfillmentSuccess = true;
			            // Refresh the list of orders after successful fulfillment
			            $http.get("/api/v1/orders/status/placed").then(function(response) {
			                $scope.orders = response.data;
			            });
			        }, function(error) {
			            console.log("Error fulfilling order");
			            $scope.fulfillmentSuccess = false;
			        });
			};


		});

		/*]]>*/
	</script>
</head>

<body>
	<div ng-app="myApp" class="generic-container ng-cloak" ng-controller="fullfillOrdersCtrl">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="lead">Orders to Fulfill</span>
				<a class="link" href="/index" style="margin-right: 10px;">Sign Out</a>
			</div>

  		<div class="formcontainer">
            <div ng-if="orders.length == 0">
                <h3> No Orders to Display </h3>
            </div>
            <table style="font-size: 18px; line-height: 1.5em; margin-bottom: 10px; width: 100%; border: 1px solid black;">
                <tr>
                    <th style="width: 40%; text-align: left; border: 1px solid black;">Orderer</th>
                    <th style="width: 30%; text-align: center; border: 1px solid black;">Recipe Ordered</th>
                    <th style="width: 30%; text-align: center; border: 1px solid black;">Recipe Status</th>
                    <th style="width: 20%; text-align: center; border: 1px solid black;">Action</th>
                </tr>
                <tr ng-repeat="order in orders track by $index">
                    <td style="width: 40%; border: 1px solid black;">{{order.orderOwner}}</td>
                    <td style="width: 30%; text-align: center; border: 1px solid black;">{{order.recipe}}</td>
                    <td style="width: 30%; text-align: center; border: 1px solid black;">{{order.orderStatus}}</td>
                    <td style="width: 20%; text-align: center; border: 1px solid black;"><button class="button" ng-click="fulfillOrder(order.id)">Fulfill</button></td>
                </tr>
            </table>
            <div ng-show="fulfillmentSuccess" class="success">Order fulfilled successfully.</div>
        </div>

			<a href="#" onclick="redirectToHome()">Home</a></div>
	</div>
	</body>
	<script>
function redirectToHome() {
    var userRole = sessionStorage.getItem('role');

    if (userRole === 'MANAGER') {
        window.location.href = '/managerMenu';
    } else if (userRole === 'STAFF') {
        window.location.href = '/staffMenu';
    } else if ( userRole === "CUSTOMER" ){
        window.location.href = '/customerMenu';
    } else {
        console.error('Invalid role found in sessionStorage');
    }
}
</script>
	</html>